menu input[type=text]
{
    color: var(--text-color);
    box-sizing: border-box;
    background-color: var(--button-color);
    width: 100%;
    font-size: 1.5rem;
    border:none;
    padding: 5px;
    transition: 0.3s;
}
menu{
    box-sizing: border-box;
    max-width: 20%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
menu input[type=text]:focus{
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
}
menu label{
    position: relative;
    margin:0.2em;
    cursor: pointer;
}
menu input[type=checkbox]
{
    display: none;
}
menu label
{
    font-family: sans-serif;
    font-size: 1.2rem;
}
menu label.checkboxLabelClass:after{
    content: "";
    position: absolute;
    top:10%;
    right:-40%;
    width: 15px;
    height: 15px;
    border: 2px solid var(--text-color);
}
menu input[type=checkbox]:checked~label.checkboxLabelClass:after{
    background-color: var(--text-color);
}

menu input[type=date]
{
    margin-left:5px;
    font-family: sans-serif;
    padding: 2px;
    border:none;
    cursor: pointer;
    transition: 0.2s;
}
menu input[type=date]:focus
{
    box-shadow: 0px 0px 0px 2px var(--shadow-color);
}
header menu button.menu{
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 50%;
    
}
header menu button.menu svg
{
    font-size: 34px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
   
}
header menu button.menu.active{
    color:var(--button-color);
    background-color: var(--active-button-color);
}
div.priotity
{
    margin-top: 10px;
}