.input-text
{
    color: var(--text-color);
    box-sizing: border-box;
    background-color: var(--button-color);
    width: 100%;
    font-size: 1.5rem;
    border:none;
    padding: 5px;
    transition: 0.3s;
}
.main-nav{
    box-sizing: border-box;
    max-width: 20%;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-text:focus{
    box-shadow: 0px 0px 0px 2px var(--shadow-color);
}

.checkbox-container__input
{
    display: none;
}
.checkbox-container__label
{
    position: relative;
    margin:0.2em;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1.2rem;
}
.checkbox-container__label:after{
    content: "";
    position: absolute;
    top:10%;
    right:-40%;
    width: 15px;
    height: 15px;
    border: 2px solid var(--text-color);
}
.checkbox-container__input:checked~.checkbox-container__label:after{
    background-color: var(--text-color);
}
.checkbox-container
{
    padding: 15px 0 10px ;
    text-align: left;
}

.container-date__input
{
    margin-left:5px;
    font-family: sans-serif;
    padding: 2px;
    border:none;
    cursor: pointer;
    transition: 0.2s;
}
.container-date__input:focus
{
    box-shadow: 0px 0px 0px 2px var(--shadow-color);
}
.main-nav__button,.button
{
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 10px;
    margin-top:10%;
    width: 100%;
    border:none;
    background-color: var(--button-color);
    transition: 0.3s;
}
.main-nav__button:hover
{
    box-shadow: 0px 0px 0px 6px var(--shadow-color);
}
.button:hover
{
    box-shadow: 0px 0px 0px 4px var(--shadow-color);
}
.main-nav__button{
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 50%;  
}
.main-nav__icon
{
    font-size: 34px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
   
}
.main-nav__button--active{
    color:var(--button-color);
    background-color: var(--active-button-color);
}
.error
{
    font-size: 18px;
    font-weight: 700;
}
.container-date
{
    text-align: left;
}
