.main-column
{
    flex-grow: 1;
    width: 50%;
    text-align: center;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
.main-column__title
{
    margin-bottom: 15px;
}
.task-list__title
{
    font-size: 20px;
    margin-bottom: 6px;
}
.task-list__text{
    font-size: 15px;
}
.task-list
{
    list-style-type: none
}
.task-list__priority,.task-list__not-priority
{
    background-color: var(--main-background-color);
    width:100%;
    padding:14px 0;
    border-top: 1px solid var(--border-color);
}
.task-list__priority
{
    background-color:var(--priority-color);
}
.task-list__priority:last-child,.task-list__not-priority:last-child
{
    border-bottom: 1px solid var(--border-color);
}
.task-list__button-container
{
    width: 17%;
    margin: 7px auto;
    display: flex;
    justify-content: space-around;
}
.task-list__button
{
    color: var(--text-color);
    padding: 8px 20px;
    background-color: var(--button-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.2s;
}
.task-list__button:hover{
    box-shadow: 0px 0px 0px 3px var(--shadow-color);
}

.container-date
{
    text-align: left;
}