$breakpoints:(
    xxsmall:(max-width:345px),
    xsmall:(max-width: 460px),
    small:(max-width: 640px),
    medium:(max-width:800px),
    large:(max-width:1024px),
    xlarge:(max-width:1200px),
    xxlarge:(max-width:1440px)
)