.main-column
{
    flex-grow: 1;
    width: 50%;
    text-align: center;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    &__title
    {
        margin-bottom: 15px;
    }
    @include media-query(small)
    {
        &{
            width: 100%;
            font-size: 1.6rem;
        }
    }
}
